.vscode
*.hl
*.data
main
bin
examples/*.hx
*.dat
*.exe
*.n
dump
*.js
go
*.bson
*.exe
*.dll
node_modules
packages.md
package-lock.json
gobyexample
*.json
*.yaml
notes.txt
physarum
tour