name: build

on: [push,pull_request]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
      fail-fast: true
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: pxshadow/setup-hashlink@v1.0.2 #hashlink
      - uses: actions/setup-go@v3
        with:
          go-version: '1.20.0' # The Go version to download (if necessary) and use.
      - name: Install lix
        run: npm i lix -g
      - name: Run lix
        run: npx lix download
      - name: Set source
        run: npx haxelib dev go2hx .
      - name: Show libpath
        run: npx haxelib libpath go2hx
      - name: Test run
        run: npx haxelib run go2hx ./rnd
      - name: Memory info
        run: free -m
      - name: Clean go2hx
        run: npx haxelib run go2hx clean
      - name: Run stdgo automatic compile
        run: npx haxe stdgo.hxml
      - name: Build tests
        run: npx haxe tests.hxml
      - name: Run unit tests
        run: hl tests.hl unit ci
        env:
          HXCPP_COMPILE_CACHE: ~/hxcppcache
      - name: Run std tests
        run: hl tests.hl std ci
        env:
            HXCPP_COMPILE_CACHE: ~/hxcppcache
      # - name: Run yaegi tests
      #   run: hl tests.hl yaegi ci
      #   env:
      #       HXCPP_COMPILE_CACHE: ~/hxcppcache
      # - name: Run go tests
      #   run: hl tests.hl go ci
      #   env:
      #       HXCPP_COMPILE_CACHE: ~/hxcppcache
      # - name: Run gobyexample tests
      #   run: hl tests.hl gobyexample ci
      #   env:
      #       HXCPP_COMPILE_CACHE: ~/hxcppcache
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: stdgo automatic compile
      - name: Get go2hxdoc
        run: go get github.com/go2hx/go2hxdoc
      - name: Build go2hxdoc
        run: go build github.com/go2hx/go2hxdoc
      - name: Run go2hxdoc
        run: ./go2hxdoc -dir `npx haxelib libpath go2hx`stdgo -interp -jvm -hl -stats -force -seq -timeout 15m
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: stdgo doc generation
          file_pattern: '*.md *.MD'